h1 {
    margin-left: 150;
    margin-top: 200;
    opacity: 0.9;
}

form {
    margin-left: 150;
    opacity: 0.9;
}

input {
    margin: 5px auto;
}

table {
    margin-left: 150;
    margin-top: 200;
    opacity: 0.9;
}
